/* layout */

/*doc
---
title: container
name: container
category: layout
---
*/

.container {
  max-width: $container-max-width;
  padding-left: $container-outer-padding;
  padding-right: $container-outer-padding;
  margin: 0 auto;
  box-sizing: content-box;
}
