/* layout */

/*doc
---
title: page-wrapper
name: page-wrapper
category: layout
---
*/
.page-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}


/*doc
---
title: block-container
name: block-container
category: layout
---
*/

.block-container {
  max-width: $container-max-width;
  padding-left: $container-outer-padding;
  padding-right: $container-outer-padding;
  margin: 0 auto;
  box-sizing: content-box;
}
