/* variable */

// breakpoint
$breakpoint: 967px;

// Typography
$base-font-family: 'Noto Sans JP', sans-serif;
$heading-font-family: 'Noto Sans JP', sans-serif;

// Line height
$base-font-size: 16px;
$base-line-height: 26/16;

// Other Sizes
$base-border-radius: 6px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red: red;
$dark-gray: #000000;
$mid-gray: #111111;

// Font Colors
$base-font-color: #fff;
$action-color: $red;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #000;

// Animations
$base-duration: 200ms;
$base-timing: ease;

// zindex
$zindex-header: 10;

// opacity
$hover-opacity: 0.6;
